<IfModule mod_setenvif.c>
  Options +FollowSymlinks
  RewriteEngine On

  # Permite Authorization (Bearer tokens)
  RewriteCond %{HTTP:Authorization} ^(.*)
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

  # Apenas continuar se não for arquivo ou diretório real
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redireciona QUALQUER requisição GET/POST/PUT/DELETE
  # para o index.php dentro do diretório solicitado.
  RewriteRule ^([^/]+)/?$ $1/index.php [L]

</IfModule>
